/* overall changes */
body {
    margin-top: 130px;
    font-family: 'Questrial', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* navigation */
.navbar-custom {
    font-size: 20px;
    border-bottom: 1px solid;
    padding: 10px;
}

/* main page */
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

.description {
    margin-bottom: 20px;
    text-align: justify;
}

.wider-grid {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.dataTable {
    display: inline-block;
    font-size: 13px;
    width: 90%
}

.shake:active {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

th, td {
    border: 1px solid;
    padding: 5px;
}

/* page with charts */
.visuals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
    width: 500px;
    height: 400px;
    margin: 25px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

